html {
  overscroll-behavior: none;
  overflow: hidden;
}

* {
  text-autospace: no-autospace;
}

body {
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
